<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!--We are using a namespace attribute element call ‘th’ that act as a pointer that points to a web page containing  relevant information is is required to be apply to the navbar.html
A fragment is a part a template, and able to import the fragment to another html file-->



<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
</head>
<body>


<nav th:fragment="navbar" class="navbar fixed-top navbar-expand-md navbar-light">

    <div class="container-fluid logo">
        <a class="navbar-brand" href="#">
            <img src="images/Logo.png">
            <p>PANDORA'S BOX</p>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{homepage}">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{about}">ABOUT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{product}">PRODUCTS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{formpage}">FORM</a>
                </li>

            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" aria-label="Search">
                <button class="btn btn-outline-secondary searchbox" type="submit">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>
</nav>

</header>